
body{
	width: 100%;
	margin: 0;

}

img{
	display: block;
}

h1, h2, h3{
	font-family: 'Playfair Display', serif;
}

p{
	font-family: 'Lato';
}

/*header*/

.logo_mcar{
	display: block;
	margin: auto;
	width: 8.5%;
	margin-bottom: 18%;
}

.fond_header{
	width: 100%;
}

header .logo_title_bouton{
	position: absolute;
	top: 0;
	width: 100%;
}


header h1 p{
	font-weight: normal;
	margin: 0;
	font-size: 4.5vw;
	font-family: 'Playfair Display';
}

header h1{
	width: 80%;
	font-size: 5.7vw;
	color: white;
	line-height: 5.3vw;
	margin-left: 3%;
}

.demandez_essai {

	margin-top: 17.7%;
	padding-left: 80%;
	width: 15%;
}

.demandez_essai img{
	width: 100%;
}

.demandez_essai p{
	font-size: 1.3vw;
	font-family: 'Playfair Display';
	width: 100%;
	position: relative;
	bottom: 4.2vw;
	left: 3.4vw;
}

.demandez_essai p a{
	text-decoration: none;
	color: black;
}


/* 3 description section of the car */


.description_sections section{
	display: flex;
	flex-direction: row;
}

.description_sections article{
	width: 50%;	
}

.description_sections img{
	width: 100%;

}

.description_sections .article_texte{
	width: 50%;
}

.description_sections .article_texte .largeur_texte{
	width: 85%;
	margin: auto;
	margin-top: 5%;
}

.description_sections h2{
	font-weight: normal;
	font-size: 30pt;
	line-height: 90%;
	margin: 0;

}
.description_sections h3{
	font-weight: normal;
	font-size: 12pt;
	margin-top: 0;

}

.description_sections p{
	font-size: 15pt;

}

/*section 2*/
.description_sections .article_texte .largeur_texte div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid black;
}

.description_sections .article_texte .largeur_texte .div4{
	border-bottom: none;
}

.description_sections .caractéristique1{
	width: 45%;
}
.description_sections .caractéristique2{
	width: 48%;
}
.description_sections .caractéristique3{
	width: 53%;
}
.description_sections .caractéristique4{
	width: 60%;
}




/*section 3*/
.images_hover{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.images_hover a{
	width: 50%;
	opacity: 0.5;
}

.images_hover a:hover {
	opacity: 1;
}



/*main*/
#reservation {
	background-image: url("images/image4.png");
	background-repeat: no-repeat; 
	background-size: 100%;
}
	
#reservation h2{
    font-size:  55px;
	color: black;
	font-family:'Playfair Display', serif;
	margin: 50px;
	padding: 40px; 
	position: relative;
	top: 50px;
	left: 0px;
	line-height: 30px;

}
#reservation p{
    position: relative;
    margin: 50px;
	padding: 100px;
	top: 0px;
	font-size: 30px;
}

#reservation form{
    padding-left: 800px;
	width: 300px;
	
	
 
	

}
.bouton{
	background-color: aqua;
	width: 50%;
	border-top: 100px;
	padding-left: 500px;
	padding-top: 10px;

}

