
body{
	width: 100%;
	margin: 0;

}

img{
	display: block;
}

h1, h2, h3{
	font-family: 'Playfair Display', serif;
}

p{
	font-family: 'Lato';
}

/*header*/

.logo_mcar{
	display: block;
	margin: auto;
	width: 8.5%;
	margin-bottom: 18%;
}

.fond_header{
	width: 100%;
}

header .logo_title_bouton{
	position: absolute;
	top: 0;
	width: 100%;
}


header h1 p{
	font-weight: normal;
	margin: 0;
	font-size: 4.5vw;
	font-family: 'Playfair Display';
}

header h1{
	width: 80%;
	font-size: 5.7vw;
	color: white;
	line-height: 5.3vw;
	margin-left: 3%;
}

.demandez_essai {

	margin-top: 17.7%;
	padding-left: 80%;
	width: 15%;
}

.demandez_essai img{
	width: 100%;
}

.demandez_essai p{
	font-size: 1.3vw;
	font-family: 'Playfair Display';
	width: 100%;
	position: relative;
	bottom: 4.2vw;
	left: 3.4vw;
}

.demandez_essai p a{
	text-decoration: none;
	color: black;
}


/* 3 description section of the car */


.description_sections section{
	display: flex;
	flex-direction: row;
}

.description_sections article{
	width: 50%;	
}

.description_sections img{
	width: 100%;

}

.description_sections .article_texte .largeur_texte{
	width: 85%;
	margin: auto;
	margin-top: 5%;
}

.description_sections h2{
	font-weight: normal;
	font-size: 30pt;
	line-height: 90%;
	margin: 0;

}
.description_sections h3{
	font-weight: normal;
	font-size: 12pt;
	margin-top: 0;

}

.description_sections p{
	font-size: 15pt;

}

/*section 2*/
.description_sections .article_texte .largeur_texte div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid black;
}

.description_sections .article_texte .largeur_texte .div4{
	border-bottom: none;
}

.description_sections .caractéristique1{
	width: 45%;
}
.description_sections .caractéristique2{
	width: 48%;
}
.description_sections .caractéristique3{
	width: 53%;
}
.description_sections .caractéristique4{
	width: 60%;
}




/*section 3*/
.images_hover{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.images_hover a{
	width: 50%;
	opacity: 0.5;
}

.images_hover a:hover {
	opacity: 1;
}

/*form achille*/

.essai_reservation{
	position: relative;
}

.essai_reservation img{
	width: 100%;
}

.essai_reservation .title_and_form{
	width: 100%;
	position: absolute;
	top: 0;
}

.essai_reservation h2{
	font-size: 4.5vw;
	margin-bottom: 0;
	margin-left: 4%;
}

.essai_reservation h3{
	font-size: 2.5vw;
	font-weight: normal;
	margin-top: 0;
	margin-left: 4%;
}

.essai_reservation form{
	display: flex;
	flex-direction: column;
	width: 40%;
	margin-left: auto;
	margin-right: 5%;
}

.essai_reservation input{
	border: none;
	margin-bottom: 5%;
	height: 3.5vw;
	padding-left: 2%;
}

.essai_reservation input[type="checkbox"]{
	height: 0;
}

.essai_reservation input[type=submit]{
	width: 40%;
	margin: auto;
	background-color: black;
	color: white;
	font-family: 'Playfair Display', serif;
	font-size: 1.5vw;
	font-weight: bold;
	padding: 0;
}


/*footer achille*/

 .footer .elements_footer{
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
 	width: 85%;
 	margin: auto;
 }

 .footer{
 	background-color: black;
 	padding: 2% 0%;
 }

 .footer .a_propos{
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
 	width: 45%;
 }

 .footer ul{
 	color: white;
 	list-style: none;
 	padding: 0;
 }

  .footer li{
  	padding-bottom: 3%;
 }

 .footer h3{
 	color: white;
 	font-size: 16pt
 }

 .footer .conditions{
 	width: 50%;
 }

.footer .réseau{
	display: flex;
	justify-content: space-between;
}
.footer a{
	text-decoration: none;
	color: white;
}

/*media queries*/

@media screen and (max-width: 900px){
	.description_sections section{
		display: flex;
		flex-direction: column;
	}

	.description_sections article{
		width: 100%;
	}

	.description_sections section :nth-child(3){
		order: 4;
	}


}


/*main*/
#reservation {
	background-image: url("images/image4.png");
	background-repeat: no-repeat; 
	background-size: 100%;
	min-height: 700px;
	
}
	
#reservation h2{
    font-size:  55px;
	color: black;
	font-family:'Playfair Display', serif;
	margin: 0050px;
	position: relative;
	top: 110px;
	left: 0px;
	line-height: 30px;

}
#reservation p{
	position: relative;
    margin: 50px 100px 0 0px;
	padding: 100px;
 
    font-size: 30px;
}

#reservation form{
	background: transparent;
	padding-left: 65%;
	font-size: 45px;
}
.bouton {
	font-size: 20px;
	background-size: cover;
	display: block;
	width: 100px;
    margin: 50px;
	
	
	
}

 footer .contenair{
	 min-height: 600px;
	 display: flex;
	 background-color: black;
	 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
	}

 
 .contenair h3 p{
	 text-decoration: none;
	 color: white;
	 margin-left: 30px;
	 margin-top: 20px;
	 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 .contenair h4 p{
	 text-decoration: none;
	 color: white;
	 margin:20px 0px 30px 250px;
	 margin-top: 30px;
	 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

article.contenair1 {
	 
	  display: flex;
	  flex-direction: row;
	  margin: 80px 10px 700px 400px;

	      
}




