
body{
	width: 100%;
	margin: 0;
}

img{
	display: block;
}

h1, h2, h3{
	font-family: 'Playfair Display', serif;
}

p{
	font-family: 'Lato';
}

/*header*/
header{
	position: relative;
}

.logo_mcar{
	margin: auto;
	width: 8.5%;
}

header .fond_header{
	width: 100%;
}

header .fond_header_mobile{
	display: none;
}

header{
	position: relative;
}

header #logo_title{
	position: absolute;
	top: 0;
	width: 100%;
}


header h1 p{
	font-weight: normal;
	margin: 0;
	font-size: 4.5vw;
	font-family: 'Playfair Display';
}

header h1{
	width: 80%;
	font-size: 5.7vw;
	color: white;
	line-height: 5.3vw;
	position: relative;
	left: 3vw;
	top: 14vw;
}

.demandez_essai {
	width: 15%;
	position: absolute;
	bottom: 0;
	left: 80vw;
	position: fixed;
	z-index: 1;

}

.demandez_essai img{
	width: 100%;
}

.demandez_essai p{
	font-size: 1.3vw;
	font-family: 'Playfair Display';
	width: 100%;
	position: absolute;
	bottom: 0vw;
	left: 3.4vw;
}

.demandez_essai p a{
	text-decoration: none;
	color: black;
}

/* 3 description section of the car */

.description_sections section{
	display: flex;
	flex-direction: row;
}

.description_sections article{
	width: 50%;	
}

.description_sections img{
	width: 100%;

}

.description_sections .article_texte .largeur_texte{
	width: 85%;
	margin: auto;
	margin-top: 5%;
}

.description_sections h2{
	font-weight: normal;
	font-size: 30pt;
	line-height: 90%;
	margin: 0;

}
.description_sections h3{
	font-weight: normal;
	font-size: 12pt;
	margin-top: 0;

}

.description_sections p{
	font-size: 15pt;

}

/*section 2*/
.description_sections .article_texte .largeur_texte div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid black;
}

.description_sections .article_texte .largeur_texte .div4{
	border-bottom: none;
}

.description_sections .caractéristique1{
	width: 45%;
}
.description_sections .caractéristique2{
	width: 48%;
}
.description_sections .caractéristique3{
	width: 53%;
}
.description_sections .caractéristique4{
	width: 60%;
}

/*section 3*/
.images_hover{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.images_hover a{
	width: 50%;
	opacity: 0.5;
}

.images_hover a:hover {
	opacity: 1;
}

/*form achille*/

.essai_reservation{
	position: relative;
	z-index: 2;
}

.essai_reservation .fond_form{
	width: 100%;
}

.essai_reservation .fond_form_mobile{
	display: none;
}

.essai_reservation .title_and_form{
	width: 100%;
	position: absolute;
	top: 0;
}

.essai_reservation h2{
	font-size: 4.5vw;
	margin-bottom: 0;
	margin-left: 4%;
}

.essai_reservation h3{
	font-size: 2.5vw;
	font-weight: normal;
	margin-top: 0;
	margin-left: 4%;
}

.essai_reservation form{
	display: flex;
	flex-direction: column;
	width: 40%;
	margin-left: auto;
	margin-right: 5%;
}

.essai_reservation input{
	border: none;
	margin-bottom: 5%;
	height: 3.5vw;
	padding-left: 2%;
}

.essai_reservation input[type="checkbox"]{
	height: 0;
}

.essai_reservation input[type=submit]{
	width: 40%;
	margin: auto;
	background-color: black;
	color: white;
	font-family: 'Playfair Display', serif;
	font-size: 1.5vw;
	font-weight: bold;
	padding: 0;
}

/*footer achille*/

footer .elements_footer{
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
 	width: 85%;
 	margin: auto;
 }

footer{
 	background-color: black;
 	padding: 2% 0%;
 	position: absolute;
 	width: 100%;
 	z-index: 2;
 }

footer .a_propos{
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
 	width: 45%;
 }

footer ul{
 	color: white;
 	list-style: none;
 	padding: 0;
 }

footer li{
  	padding-bottom: 3%;
 }

footer h3{
 	color: white;
 	font-size: 16pt
 }

footer .conditions{
 	width: 50%;
 }

footer .réseau{
	display: flex;
	justify-content: space-between;
}
footer a{
	text-decoration: none;
	color: white;
}

/*media queries*/

@media screen and (max-width: 900px){

	/*header*/

	header .fond_header{
		display: none;
	}

	header .fond_header_mobile{
		display: block;
		width: 100%;
	}

	.logo_mcar{
		width: 13%;
	}

	header h1{
		width: 90%;
		font-size: 7.5vw;
		line-height: 7vw;
		position: relative;
	}

	.demandez_essai {
		width: 25%;
		left: 37.5vw;
	}

	.demandez_essai p{
		font-size: 2.1vw;
		left: 5.8vw;
	}

	/*description sections*/

	.description_sections section{
		display: flex;
		flex-direction: column;
	}

	.description_sections .section2 :nth-child(1){ order: 2	}
	.description_sections .section2 :nth-child(2){ order: 1	}

	.description_sections .article_texte .largeur_texte{
		width: 100%;
	}

	.description_sections article{
		width: 85%;
		margin: auto;
	}

	.description_sections img{
		margin: auto;
		width: 100%;
	}

	.images_hover a{
		opacity: 1;
	}

	/*form*/

	.essai_reservation .fond_form{
		display: none;
	}

	.essai_reservation .fond_form_mobile{
		display: block;
		width: 100%;
	}

	.essai_reservation h2{
		margin-left: 0;
		text-align: center;
		font-size: 6.5vw;
	}

	.essai_reservation h3{
		margin-left: 0;
		text-align: center;
		font-size: 4.5vw;
	}

	.essai_reservation form{
		margin: auto;
		width: 60%;
		opacity: 0.95;
	}

	.essai_reservation input{
		height: 7.5vw;
	}

	.essai_reservation input[type=submit]{
		font-size: 2vw;
	}

}

@media screen and (max-width: 550px){

	.description_sections h2{
		font-size: 20pt;
	}

	.description_sections h3{
		font-size: 8pt;
	}

	.description_sections p{
		font-size: 10pt;
	}

	.essai_reservation h2, .essai_reservation h3{
		margin-top: 1%;
		margin-bottom: 1%;
	}	

	.essai_reservation form{
		width: 100%;
	}

	.essai_reservation input[type=text],.essai_reservation input[type=email]{
		width: 70%;
		margin: 2% auto;
	}

	.essai_reservation input[type=checkbox]{
		width: 1%;
	}

	.essai_reservation div{
		margin: auto;
		font-size: 3vw;
		height: 10vw;
	}

	footer .elements_footer{
		display: flex;
		flex-direction: column;
	}

	footer .a_propos{
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	footer .conditions{
		width: 100%;
	}

	footer .réseau{
		width: 40%;
	}

	footer li{
	  	font-size: 10pt;
	}

	footer h3{
	 	font-size: 12pt
	}

	footer img{
		width: 80%;
	}
}
